- if @curriculum_student.curriculum.course.course_contract_id
  - @course_contract = CourseContract.find @curriculum_student.curriculum.course.course_contract_id
  %li= link_to (t 'CourseContract'), preview_admin_course_contract_path(@course_contract) + "?curriculum_student_id=#{@curriculum_student.id}", :class => 'show', :target => '_blank'

%li= link_to 'Pagamentos', admin_course_curriculum_student_payments_path(@course, @curriculum_student), :class => 'show'
